![header-notebooks.png]()

Prática da **Aula 8: Spark e Fontes de Dados**, do curso de **Engenharia de Dados** da **[Awari](https://awari.com.br/)**. 

---

In [2]:
!pip install boto3
!pip install pyspark

Collecting boto3
  Downloading boto3-1.26.164-py3-none-any.whl (135 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 135.9/135.9 kB 2.9 MB/s eta 0:00:00a 0:00:01
Collecting botocore<1.30.0,>=1.29.164
  Downloading botocore-1.29.164-py3-none-any.whl (11.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.0/11.0 MB 25.1 MB/s eta 0:00:0000:0100:01
Collecting jmespath<2.0.0,>=0.7.1
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Collecting s3transfer<0.7.0,>=0.6.0
  Downloading s3transfer-0.6.1-py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.8/79.8 kB 6.0 MB/s eta 0:00:00
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /opt/conda/lib/python3.10/site-packages (from botocore<1.30.0,>=1.29.164->boto3) (1.26.14)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.10/site-packages (from botocore<1.30.0,>=1.29.164->boto3) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.30.0,>=1.29.164->boto3) (1.16.0)
Installing collected packages: jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.26.164 botocore-1.29.164 jmespath-1.0.1 s3transfer-0.6.1
Requirement already satisfied: pyspark in /usr/local/spark-3.3.1-bin-hadoop3/python (3.3.1)
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 kB 4.1 MB/s eta 0:00:00a 0:00:01
Installing collected packages: py4j
Successfully installed py4j-0.10.9.5

In [1]:
import os
import sys
from datetime import date, datetime
import pyspark
import boto3

from io import StringIO 
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.types import StructType,StructField, StringType, IntegerType 
from pyspark.sql.types import ArrayType, DoubleType, BooleanType
from pyspark.sql.functions import col,array_contains

# Criando um contexto

In [10]:
# Import SparkSession
from pyspark.sql import SparkSession

# Criando uma sessão com o Spark que existe localmente(atualmente configurado junto com o JupyterLab)
spark = SparkSession.builder \
      .master("spark://127.0.0.1:7077") \
      .appName("AwariAula08") \
      .config("spark.memory.offHeap.enabled","true") \
      .config("spark.memory.offHeap.size","10g") \
      .getOrCreate() 

spark

# Criando um RDD
- Resilient Distributed Datasets, abstraem um conjunto de objetos distribuídos no cluster, geralmente executados na memória principal e podem depois serem salvos em um Haddop, Banco de Datos, arquivo, etc, quando você carrega 
- Um RDD ele é um dado IMUTAVEL e e semelhante a uma lista em Python, com a diferença de que o RDD é calculado em vários processos espalhados por vários servidores físicos, também chamados de nós em um cluster, enquanto uma coleção Python vive e processa em apenas um processo.
- RDD é mais utilizado quando precisamos trabalhar mais baixo nivel manipulando diretamente o DataSet

In [11]:
# Partir da memoria
dataList = [("Java", 20000), ("Python", 100000), ("Scala", 3000)]
rdd=spark.sparkContext.parallelize(dataList)

In [12]:
rdd.take(1)

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.runJob.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 2.0 failed 1 times, most recent failure: Lost task 0.0 in stage 2.0 (TID 2) (host.docker.internal executor driver): org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:192)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:166)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	at java.base/java.lang.Thread.run(Thread.java:1623)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.base/sun.nio.ch.NioSocketImpl.timedAccept(NioSocketImpl.java:694)
	at java.base/sun.nio.ch.NioSocketImpl.accept(NioSocketImpl.java:738)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:690)
	at java.base/java.net.ServerSocket.platformImplAccept(ServerSocket.java:655)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:631)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:588)
	at java.base/java.net.ServerSocket.accept(ServerSocket.java:546)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:179)
	... 15 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2785)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2721)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2720)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2720)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1206)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1206)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1206)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2984)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2923)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2912)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:971)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2263)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2284)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2303)
	at org.apache.spark.api.python.PythonRDD$.runJob(PythonRDD.scala:179)
	at org.apache.spark.api.python.PythonRDD.runJob(PythonRDD.scala)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:75)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:52)
	at java.base/java.lang.reflect.Method.invoke(Method.java:578)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1623)
Caused by: org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:192)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:166)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	... 1 more
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.base/sun.nio.ch.NioSocketImpl.timedAccept(NioSocketImpl.java:694)
	at java.base/sun.nio.ch.NioSocketImpl.accept(NioSocketImpl.java:738)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:690)
	at java.base/java.net.ServerSocket.platformImplAccept(ServerSocket.java:655)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:631)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:588)
	at java.base/java.net.ServerSocket.accept(ServerSocket.java:546)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:179)
	... 15 more

In [5]:
# A Partir de um arquivo
rdd2 = spark.sparkContext.textFile("./arquivos/customers.csv")
header = rdd2.first()
rdd2 = rdd2.filter(lambda row: row != header)
rdd2.take(5)

['1,Male,19,15000,39,Healthcare,1,4',
 '2,Male,21,35000,81,Engineer,3,3',
 '3,Female,20,86000,6,Engineer,1,1',
 '4,Female,23,59000,77,Lawyer,0,2',
 '5,Female,31,38000,40,Entertainment,2,6']

# RDD Operações
Transformações no Spark etorna outro RDD e essas transformações são lentas, o que significa que elas não são executadas até que você chame uma ação no RDD. Algumas transformações em RDD's são flatMap(), map(), reduceByKey(), filter(), sortByKey() e retornam um novo RDD ao invés de atualizar o atual.

# RDD Ações
Retorna os valores de um RDD para um nó de driver. Em outras palavras, qualquer função RDD que retorna um não RDD é considerada uma ação. Algumas ações no RDD são count(), collect(), first(), max(), reduce() and more.

# PySpark DataFrame
DataFrame é uma coleção distribuída de dados organizados em colunas nomeadas. É conceitualmente equivalente a uma tabela em um banco de dados relacional ou um quadro de dados em R/Python, mas com otimizações mais ricas sob o capô. Os DataFrames podem ser construídos a partir de uma ampla variedade de fontes, como arquivos de dados estruturados, tabelas no Hive, bancos de dados externos ou RDDs existentes. Diferente do RDD é mais utilizado para analise de dados, debugs, etc.

In [6]:
# Criando um DataFrame
data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]

columns = ["firstname","middlename","lastname","dob","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)
print(df.show(), df.printSchema())

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

None None

In [7]:
# Lendo um arquivo
df = spark.read.option("header", True).csv("./arquivos/customers.csv")
print(df.show(), df.printSchema())

+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+
|CustomerID|Gender|Age|Annual Income ($)|Spending Score (1-100)|   Profession|Work Experience|Family Size|
+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+
|         1|  Male| 19|            15000|                    39|   Healthcare|              1|          4|
|         2|  Male| 21|            35000|                    81|     Engineer|              3|          3|
|         3|Female| 20|            86000|                     6|     Engineer|              1|          1|
|         4|Female| 23|            59000|                    77|       Lawyer|              0|          2|
|         5|Female| 31|            38000|                    40|Entertainment|              2|          6|
|         6|Female| 22|            58000|                    76|       Artist|              0|          2|
|         7|Female| 35|            31000|                     6|   Healthcare|              1|          3|
|         8|Female| 23|            84000|                    94|   Healthcare|              1|          3|
|         9|  Male| 64|            97000|                     3|     Engineer|              0|          3|
|        10|Female| 30|            98000|                    72|       Artist|              1|          4|
|        11|  Male| 67|             7000|                    14|     Engineer|              1|          3|
|        12|Female| 35|            93000|                    99|   Healthcare|              4|          4|
|        13|Female| 58|            80000|                    15|    Executive|              0|          5|
|        14|Female| 24|            91000|                    77|       Lawyer|              1|          1|
|        15|  Male| 37|            19000|                    13|       Doctor|              0|          1|
|        16|  Male| 22|            51000|                    79|   Healthcare|              1|          2|
|        17|Female| 35|            29000|                    35|    Homemaker|              9|          5|
|        18|  Male| 20|            89000|                    66|   Healthcare|              1|          6|
|        19|  Male| 52|            20000|                    29|Entertainment|              1|          4|
|        20|Female| 35|            62000|                    98|       Artist|              0|          1|
+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+
only showing top 20 rows

root
 |-- CustomerID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Annual Income ($): string (nullable = true)
 |-- Spending Score (1-100): string (nullable = true)
 |-- Profession: string (nullable = true)
 |-- Work Experience: string (nullable = true)
 |-- Family Size: string (nullable = true)

None None

# Arquivos suportados por um PySpark DataFrame

- csv
- text
- Avro
- Parquet
- tsv
- xml e muito mais

# Usando SQL

In [8]:
df.createOrReplaceTempView("CUSTOMERS")
df2 = spark.sql("SELECT * from CUSTOMERS LIMIT 5")
print(df2.show(), df2.printSchema())

+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+
|CustomerID|Gender|Age|Annual Income ($)|Spending Score (1-100)|   Profession|Work Experience|Family Size|
+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+
|         1|  Male| 19|            15000|                    39|   Healthcare|              1|          4|
|         2|  Male| 21|            35000|                    81|     Engineer|              3|          3|
|         3|Female| 20|            86000|                     6|     Engineer|              1|          1|
|         4|Female| 23|            59000|                    77|       Lawyer|              0|          2|
|         5|Female| 31|            38000|                    40|Entertainment|              2|          6|
+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+

root
 |-- CustomerID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Annual Income ($): string (nullable = true)
 |-- Spending Score (1-100): string (nullable = true)
 |-- Profession: string (nullable = true)
 |-- Work Experience: string (nullable = true)
 |-- Family Size: string (nullable = true)

None None

In [9]:
# Usando GROUPBY
groupDF = spark.sql("SELECT Profession, count(*) as total from CUSTOMERS group by Profession")
groupDF.show()

+-------------+-----+
|   Profession|total|
+-------------+-----+
|Entertainment|  234|
|   Healthcare|  339|
|       Lawyer|  142|
|         null|   35|
|    Homemaker|   60|
|    Executive|  153|
|       Artist|  612|
|    Marketing|   85|
|       Doctor|  161|
|     Engineer|  179|
+-------------+-----+

In [10]:
spark.stop()

conf = pyspark.SparkConf()

# Criando uma sessão com o Spark que existe localmente(atualmente configurado junto com o JupyterLab)
conf.setMaster("local[1]") 
conf.set("spark.driver.host", "awari-jupyterlab") \
    .set("spark.sql.sources.commitProtocolClass", "org.apache.spark.sql.execution.datasources.SQLHadoopMapReduceCommitProtocol") \
    .set("parquet.enable.summary-metadata", "false") \
    .set("mapreduce.fileoutputcommitter.marksuccessfuljobs", "false") \
    .set("spark.driver.port", "20020") \
    .set("spark.hadoop.fs.s3a.endpoint", 'awari-nginx:9000') \
    .set("spark.hadoop.fs.s3a.endpoint.region", 'sa-east-1') \
    .set("spark.hadoop.fs.s3a.access.key", 'mnYOiUf07UBjjJwf') \
    .set("spark.hadoop.fs.s3a.secret.key", '1Qu7X3EmbIYDNXUiuvFSDUJwJ4fWdyT5') \
    .set("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
    .set("spark.hadoop.fs.s3a.connection.ssl.enabled", "false") \
    .set("spark.hadoop.com.amazonaws.services.s3.enableV2", "true") \
    .set("spark.hadoop.fs.s3a.committer.staging.conflict-mode", "replace") \
    .set("spark.hadoop.fs.s3a.fast.upload", True) \
    .set("spark.hadoop.fs.s3a.path.style.access", True) \
    .set("spark.hadoop.fs.s3a.committer.name", "directory") \
    .set("spark.hadoop.fs.s3a.committer.staging.tmp.path", "/tmp/staging")

conf.setAppName('AwariAula08-S33')
sc = pyspark.SparkContext(conf=conf)

spark = SparkSession(sc)

In [11]:
client = boto3.client('s3', 
    endpoint_url='http://awari-minio-nginx:9000',
    aws_access_key_id='mnYOiUf07UBjjJwf',
    aws_secret_access_key='1Qu7X3EmbIYDNXUiuvFSDUJwJ4fWdyT5',
    aws_session_token=None,
    config=boto3.session.Config(signature_version='s3v4'),
    verify=False,
    region_name='sa-east-1'
)
client

In [ ]:
df = spark.read.option("header", True).csv("s3a://aula-08/resources/usuarios.csv")
print(df.show(), df.printSchema())

In [ ]:
# Usando RDD
# A Partir de um arquivo
rdd3 = spark.sparkContext.textFile("s3a://aula-08/resources/usuarios.csv")
rdd3 = rdd3.map( lambda f: f.split(","))
header = rdd3.first()

rdd3 = rdd3.filter(lambda row: row != header)
rdd3 = sc.parallelize(rdd3.collect())
df = rdd3.toDF(header)
df.show()

In [ ]:
# Convertendo CSV para PARQUET e salvando no storage
df.write.save("s3a://aula-08/meu-parquet")

In [ ]:
# Lendo um parquet file
parDF1=spark.read.parquet("s3a://aula-08/meu-parquet")
parDF1.first()

# DataFrame
Diferente de Series, **DataFrame** possui uma estrutura bidemensial, como uma planilha de Excel.

In [ ]:
data = {
    'macas': [3, 2, 0, 1], 
    'laranjas': [0, 3, 7, 2]
}

compras = pd.DataFrame(data)

compras

In [ ]:
compras = pd.DataFrame(data, index=['Alex', 'Roberto', 'Bernardo', 'Paulo'])

compras

In [ ]:
# para extrair apenas uma Serie
compras.loc['Alex']

# Lendo informações de um CSV

In [ ]:
df = pd.read_csv('arquivos/customers.csv')

df

In [ ]:
# Apenas os 5 primeiros registros
df.head(5)

In [ ]:
# Quando carregamos um CSV os indices são gerados aleatoriamente por ordem da linha 
# caso queiramos especificar um indice, precisaremos informar qual a coluna é o indice

df = pd.read_csv('arquivos/customers.csv', index_col=0)
df.head(5)

# Lendo arquivos em JSON

In [ ]:
df = pd.read_json('./arquivos/estados.json', orient='records')

df

In [ ]:
# Lendo dados de uma URL
url = "https://api.exchangerate-api.com/v4/latest/USD"
df = pd.read_json(url)
print(df)

# Salvando DataFrame em JSON ou CSV

Podemos, usando a mesma lógica, carregar um arquivo JSON salvar em CSV e vice versa

In [ ]:
# Simples formato
df = pd.DataFrame([1,2,3])
print(df)
df.to_json("./arquivos/numeros_json.json")
df.to_csv("./arquivos/numeros_csv.json")
!ls ./arquivos

In [ ]:
df = pd.DataFrame([1,2,3], columns=['Numeros'])
df.to_json("./arquivos/numeros_json2.json")
df.to_csv("./arquivos/numeros_csv2.csv")
!ls ./arquivos

# Tratando um arquivo

In [ ]:
df = pd.read_csv('./arquivos/4300Answers.csv')
df.head(2) # Checar colunas com NaN

In [ ]:
# Convertendo colunas NaN para "-"
df = df.fillna("-") # Nós precisamos atrelar o resultado a variavel principal
df.head(2) # Checar colunas novamente

In [ ]:
# Retornando apenas o sexo Feminino
resultado_query=df.query("`Qual seu sexo?` == 'Feminino'")
resultado_query.head(2)

In [ ]:
# Salvando novo Json apenas com os resultados femininos
resultado_query.to_csv("./arquivos/4300Answers_femininos.csv")

In [ ]:
# Lendo arquivo gerado
df = pd.read_csv("./arquivos/4300Answers_femininos.csv")
df.head(5)

---

Notebook utilizado para fins educacionais da **Awari**.

**© AWARI. Todos os direitos reservados.**